.App {
  text-align: center;
}
.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  > p {
    font: 400 1.5rem italic;
    padding-top: 50px;
  }
}

.Loading > div {
  width: 300px;
  height: 300px;
  border-bottom: 4px solid rgb(19, 19, 19);
  border-radius: 50%;

  animation: rotation 0.5s infinite linear;
}
@keyframes rotation {
  to {
    transform: rotateZ(360deg);
  }
}
